.fboxes
	display flex
	height 200px
	margin-top 10px

	background-color #dedede

	&:nth-child(1)
		justify-content space-between
		align-items flex-end
		flex-flow row wrap
		margin-top 0

		.fbox
			flex-grow 1
			&:nth-child(1)
				height 70%
				order 3
			&:nth-child(2)
				height 50%
				order 1
			&:nth-child(3)
				height 80%
				order 2

	&:nth-child(2)
		flex-flow column wrap
		justify-content space-around
		align-items center

		.fbox
			&:nth-child(1)
				flex-grow 1
			&:nth-child(2)
				flex-grow 1
			&:nth-child(3)
				flex-grow 3
			&:nth-child(4)
				flex-shrink 1
			&:nth-child(5)
				flex-grow 1
			&:nth-child(6)
				flex-grow 1



	.fbox
		text-align center
		&:nth-child(1)
			background-color blue
		&:nth-child(2)
			background-color gray
		&:nth-child(3)
			background-color red