doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="css/index.css")
		script(type="text/javascript", src="js/jquery.min.js")
	body
		.fboxes
			.fbox
				h2
					| i'm flexbox 1
			.fbox
				h2
					| i'm flexbox 2
			.fbox
				h2
					| i'm flexbox 3
		.fboxes
			.fbox
				h2
					| i'm flexbox 1
			.fbox
				h2
					| i'm flexbox 2
			.fbox
				h2
					| i'm flexbox 3
			.fbox
				h2
					| i'm flexbox 4
			.fbox
				h2
					| i'm flexbox 5
			.fbox
				h2
					| i'm flexbox 6